
*.~21~

__history/AllWork.cpp.~11~

Debug/AllWork.#00

Debug/AllWork.exe

Debug/AllWork.ilc

Debug/AllWork.ild

Debug/AllWork.ilf

Debug/AllWork.ils

Debug/AllWork.map

Debug/AllWork.obj

Debug/AllWork.pch

Debug/AllWork.tds

Debug/dephem.obj

Debug/global.obj

Debug/MainUnit.obj
